.navbar {
    background-color: #75CE7F;
}

.quemsomos {
    background-color: #71B4E3;
    color: whitesmoke;
}

.margin {
    padding-top: 30px;
    padding-bottom: 50px;
}

.parceiros {
    background-color: #F8BB2F;
    color: whitesmoke;
}

.bg-footer {
    background-color: black;
    color: whitesmoke;
}